$heading-font: "House M.D.","Segoe UI", sans-serif;
$text-font:kayak_sansregular, "Segoe UI Light", sans-serif;

// $col-main: #0f2027;
// $col-secondary:#203a43;
$col-white:#f4f4f4;

$col-main:#DA4453;
$col-secondary:#89216B;
$col-tertiary:#E65F6D;
$col-grey-light:#666;
// $col-main: #0f2027;
// $col-secondary:#203a43;
// $col-tertiary:#2c5364;
// $col-white:#f4f4f4;